/* || GENERAL STYLE*/
:root {
  --dark-navy: rgba(26, 42, 51);
  --semi-dark-navy: rgba(31, 54, 65);
  --light-blue: rgba(49, 195, 189);
  --light-blue-hover: rgba(101, 233, 228);
  --light-yellow: rgba(242, 177, 55);
  --light-yellow-hover: rgba(255, 200, 96);
  --silver: rgba(168, 191, 201);
  --silver-hover: rgba(219, 232, 237);
  --blue-shadow: #118c87;
  --dark-shadow: #10212a;
  --yellow-shadow: #cc8b13;
  --silver-shadow: #6b8997;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  text-transform: uppercase;
}

button:disabled {
  opacity: 0.3;
}

html {
  position: relative;
}

body {
  min-height: 100vh;
}

button {
  border: none;
}

button:disabled {
  opacity: 0.3;
}

/* :hover */
@media (hover: hover) {
  .bg-yellow:hover {
    background: var(--light-yellow-hover);
  }

  .bg-silver:hover {
    background: var(--silver-hover);
  }

  .bg-blue:hover {
    background: var(--light-blue-hover);
  }

  .x-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--dark-orange);
  }
}

/* ||TYPOGRAPHY*/
html {
  font-size: 10px;
}

/* |mobile */
.m-h-large {
  font-size: 4rem;
  letter-spacing: 0.25rem;
  font-weight: bold;
}

.m-h-medium {
  font-size: 2.4rem;
  letter-spacing: 0.15rem;
  font-weight: bold;
}

.m-h-small {
  font-size: 2rem;
  letter-spacing: 0.125rem;
  font-weight: bold;
}

.m-h-extrasmall {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
}

.m-normal {
  font-size: 1.4rem;
  letter-spacing: 0.08rem;
  font-weight: 500;
}

.m-small-normal {
  font-size: 1.2rem;
  letter-spacing: 0.075rem;
  font-weight: 500;
}

/* ||UTILITIES*/
/* | backgrounds */
.bg-yellow {
  background: var(--light-yellow);
  color: var(--yellow-shadow);
}

.bg-blue {
  background: var(--light-blue);
  color: var(--blue-shadow);
}

.bg-silver {
  background: var(--silver);
  color: var(--silver-shadow);
}

.bg-dark-navy {
  background: var(--dark-navy);
  color: var(--dark-shadow);
}

.bg-semi-dark-navy {
  background: var(--semi-dark-navy);
}

/* |colors */
.cl-yellow {
  color: var(--light-orange);
}

.cl-blue {
  color: var(--light-blue);
}

.cl-silver {
  color: var(--silver);
}

.cl-dark-navy {
  color: var(--dark-navy);
}

.cl-semi-dark-navy {
  color: var(--semi-dark-navy);
}

/* |buttons */
.active-mark-button {
  background: none !important;
  color: var(--silver) !important;
}

.m-btn-start {
  height: 56px;
  border-radius: 15px;
  width: 100%;
}

.btn-msg {
  height: 52px;
  border-radius: 10px;
}

.m-btn-reset {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.quit-btn {
  width: 76px;
  margin-right: 16px;
}

.nextround-restart-btn {
  width: 146px;
}

.quit-resize {
  width: 139px !important;
  margin-right: 16px;
}

.next-round-resize {
  width: 151px !important;
}

/* |shadows */
.shadow {
  box-shadow: inset 0 -8px 0;
}

.small-shadow {
  box-shadow: 0 4px;
}

/* others */
.not-show-element {
  display: none !important;
}

.disabled {
  opacity: 0.3;
}

/* cell marks */
.cell-background-x {
  background-image: url("assets/icon-x.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
}

.cell-background-x:hover {
  background-image: url("assets/icon-x-outline.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
}

.cell-background-win-x {
  background-image: url("assets/icon-x-outline.svg");
  background-color: var(--light-blue) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 44px;
}

.cell-background-o {
  background-image: url("assets/icon-o.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
}

.cell-background-o:hover {
  background-image: url("assets/icon-o-outline.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px;
}

.cell-background-win-o {
  background-image: url("assets/icon-o-outline.svg");
  background-color: var(--light-yellow) !important;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 44px;
}

.msg-background-x {
  background-image: url("assets/icon-x.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.msg-background-o {
  background-image: url("assets/icon-o.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

/* ||SITEWIDE */
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#new-game,
#start {
  width: 327px;
}

/* new game section */
#new-game header {
  width: 71.97px;
  height: 32px;
  margin: 0 auto;
  margin-bottom: 32px;
  background: url(assets/logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#player-choice {
  padding: 24px 24px 30px;
  margin-bottom: 32px;
  border-radius: 15px;
}

#choose-x-o {
  border-radius: 10px;
  margin-top: 24px;
  margin-bottom: 17px;
  padding: 9px 8px;
}

#choose-x-o button {
  width: calc((100% - 16px) / 2);
  height: 54px;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: var(--silver);
  color: inherit;
}

#choose-x-o button .svg-wrapper {
  width: 31.74px;
  height: 31.74px;
}

#player-choice p {
  opacity: 0.5;
}

#new-game footer button:last-child {
  margin-top: 16px;
}

/* start section */
#start {
  align-self: flex-start;
}

#start header {
  margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

#start header .logo-wrapper {
  width: 71.97px;
  height: 32px;
  background: url("assets/logo.svg");
  background-repeat: no-repeat;
  display: flex;
  align-self: center;
}

#start header .turn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#start header .turn svg {
  flex-basis: 16px;
}

#start header .turn path {
  fill: var(--silver) !important;
}

#start .turn p {
  font-weight: 700;
  line-height: 1.8rem;
  margin-left: 9px;
}

#start header .button-wrapper {
  text-align: right;
}

#start header button {
  background-image: url('assets/icon-restart.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 38.5%;
}

#cells {
  height: 327px;
  margin-top: 64px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
}

#cells>div {
  border-radius: 10px;
  box-shadow: inset 0px -8px 0px var(--dark-shadow);
  background-color: var(--semi-dark-navy);
  display: flex;
  align-items: center;
  justify-content: center;
}

#start footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 64px;
  grid-gap: 20px;
}

#start footer div {
  border-radius: 10px;
  color: var(--dark-navy);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* msg section */
#dialog-box {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  border: none;
}

#dialog-box:not([open]) {
  display: none;
}

#msg {
  height: 228px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#msg-body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-yellow);
  margin-top: 16px;
  margin-bottom: 24px;
}

#msg-body .icon-container {
  width: 28px;
  height: 28px;
  margin-right: 8px;
}

#msg-body #restart,
#msg-body #tied {
  margin-top: -16px;
}

@media (min-width: 550px) {

  /* ||TYPOGRAPHY*/
  .h-large {
    font-size: 4rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
  }

  .h-medium {
    font-size: 2.4rem;
    letter-spacing: 0.15rem;
    font-weight: bold;
  }

  .h-small {
    font-size: 2rem;
    letter-spacing: 0.125rem;
    font-weight: bold;
  }

  .h-extrasmall {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    font-weight: bold;
  }

  .normal {
    font-size: 1.4rem;
    letter-spacing: 0.08rem;
    font-weight: 500;
  }

  /* ||UTILITIES*/
  /* |buttons */
  .btn-start {
    height: 67px;
    border-radius: 15px;
  }

  .btn-reset {
    height: 52px;
    width: 52px;
    border-radius: 10px;
  }

  /* cell marks */
  .cell-background-x {
    background-size: 63.46px;
  }

  .cell-background-x:hover {
    background-size: 63.46px;
  }

  .cell-background-win-x {
    background-size: 67.46px;
  }

  .cell-background-o {
    background-size: 63.46px;
  }

  .cell-background-o:hover {
    background-size: 63.46px;
  }

  .cell-background-win-o {
    background-size: 67.46px;
  }

  /* ||SITEWIDE */
  #new-game,
  #start {
    width: 460px;
  }

  /* new game section */
  #new-game header {
    margin-bottom: 40px;
  }

  #player-choice {
    margin-bottom: 40px;
  }

  #new-game footer button:last-child {
    margin-top: 20px;
  }

  /* start section */
  #start {
    align-self: center;
  }

  #start header .turn svg {
    flex-basis: 20px;
  }

  #start .turnp p {
    font-weight: 700;
    margin-left: 13px;
  }

  /* cells at the start section */
  #cells {
    margin-top: 19px;
    margin-bottom: 20px;
    height: 460px;
  }

  #cells div div {
    width: 64px;
  }

  #start footer {
    grid-template-rows: 72px;
  }

  #start footer h4 {
    line-height: 30px;
  }

  /* msg section */
  #msg {
    height: 266px;
  }

  #msg-body {
    margin-top: 23px;
    margin-bottom: 31px;
  }

  #msg-body .icon-container {
    width: 64px;
    height: 64px;
    margin-right: 24px;
  }

  #msg-body #restart,
  #msg-body #tied {
    margin-top: -23px;
  }
}